

.App .main {
  margin-top: 100px; /* mesma altura que o AppBar */
}

.App .body {
  margin: 0;
  padding: 0;
}


.App {
  text-align: center;
}

.App .Page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 64px;
  height: 80vh;
  
}

.App .Page h1{
  font-size: 2rem;
  margin-bottom: 1rem;
}

.App .Page .itemCard {
  background-color: #f8f9fa;
  border: 1px solid #e9ecef;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 5px;
  gap: 20px; 
}

.App .Page .itemCard div {
  margin: 0 10px;
}